/*
* Copyright (C) 2016 PHYTEC Messtechnik GmbH
* Author: Christian Hemp <c.hemp@phytec.de>
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 as
* published by the Free Software Foundation.
*/

/dts-v1/;
#include "imx6ul.dtsi"

/ {
	model = "Phytec phyCORE i.MX6 UltraLite";
	compatible = "fsl,imx6ul";

	/* Set the minimum memory size here and
	   let the bootloader set the real size */
	memory {
		reg = <0x80000000 0x8000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_adc_3v3: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "adc-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			status = "okay";
		};

		reg_pwm_3v3: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "pwm-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			status = "okay";
		};

		reg_can_3v3: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "can-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			status = "okay";
		};

		reg_exp_3v3: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "exp-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			status = "okay";
		};

		reg_lcd_3v3: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "lcd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			status = "okay";
		};

		reg_5v: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			status = "okay";
		};
	};

	/* LCD background */
	background: background {
		compatible = "pwm-backlight";
		/* PWM period is vriten in nanoseconds
		   10KHz is 100.000 nanoseconds */
		pwms = <&pwm5 0 100000>;
		/* Brightnes is equal to PWM duty cycle */
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
							 10 11 12 13 14 15 16 17 18 19
							 20 21 22 23 24 25 26 27 28 29
							 30 31 32 33 34 35 36 37 38 39
							 40 41 42 43 44 45 46 47 48 49
							 50 51 52 53 54 55 56 57 58 59
							 60 61 62 63 64 65 66 67 68 69
							 70 71 72 73 74 75 76 77 78 79
							 80 81 82 83 84 85 86 87 88 89
							 90 91 92 93 94 95 96 97 98 99
							 100>;
		default-brightness-level = <100>;
		power-supply = <&reg_pwm_3v3>;
		status = "okay";
	};

	/* Frontbase */
	frontbase: frontbase {
		pwms = <&pwm6 0 5000000>;
		pwm-names = "frontbase";
		status = "okay";
	};

	/* Blinking led */
	gpio_leds_som: somleds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpioleds_som>;
		compatible = "gpio-leds";
		status = "okay";

		som_green {
			label = "phycore:green";
			gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	/* Power lock pin */
	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio5 1 GPIO_ACTIVE_LOW>;
	};


	/* On Switch (On/Menu) */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		on_switch {
			   label = "on_switch";
			   gpios = <&gpio5 2 GPIO_ACTIVE_LOW>;
			   linux,code = <KEY_BACK>;
			   wakeup-source;
		};
	};
};

/* NAND */
&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand>;
	nand-on-flash-bbt;
	status = "okay";
};

/* Debug port */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

/* Button ring */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

/* BLE */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	fsl,uart-has-rtscts;
	fsl,dte-mode;
	status = "okay";
};

/* GNSS */
&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	status = "okay";
};

/* GSM */
&uart8 {
	compatible = "fsl,imx6ul-mod-uart";
	pinctrl-names = "default", "gpio", "uart";
	pinctrl-0 = <&pinctrl_uart8_default>;
	pinctrl-1 = <&pinctrl_uart8_default>;
	pinctrl-2 = <&pinctrl_uart8_uart>;
	fsl,uart-has-rtscts;
	fsl,dte-mode;
	status = "okay";
};

/* Touch and SOM EEPROM */
&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	clock-frequency = <100000>;
	status = "okay";

	/* Touch controller */
	ili2116@41 {
		compatible = "stromer-ili2116";
		reg = <0x41>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ili2116>;
		interrupt-parent = <&gpio1>;
		interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
		pendown-gpio = <&gpio1 30 GPIO_ACTIVE_HIGH>;
		wakeup-source;
		status = "disabled";
	};

	/* Touch controller */
	st1633@55 {
		compatible = "stromer-st1633";
		reg = <0x55>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_st1633>;
		interrupt-parent = <&gpio1>;
		interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
		pendown-gpio = <&gpio1 30 GPIO_ACTIVE_HIGH>;
		wakeup-source;
		status = "okay";
	};

	/* EEPROM memory address */
	eeprom: eeprom@52 {
		compatible = "cat,24c32";
		reg = <0x52>;
	};

	/* EEPROM ID page address */
	eeprom@5a {
		compatible = "cat,24c32";
		reg = <0x5a>;
	};
};

/* Sensors */
&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	clock-frequency = <100000>;
	status = "okay";

	/* LSM6DSL 3D accelerometer and 3D gyroscope */
	accel_gyro@6b {
		compatible = "st,lsm6dsl";
		reg = <0x6b>;
	};

	leds@35 {
		compatible = "national,lp5523";
		reg = <0x35>;
		clock-mode = /bits/ 8 <1>;

		chan0 {
			  chan-name = "rgb1_red";
			  led-cur = /bits/ 8 <0x14>;
			  max-cur = /bits/ 8 <0x96>;
		};

		chan1 {
			  chan-name = "rgb1_green";
			  led-cur = /bits/ 8 <0x14>;
			  max-cur = /bits/ 8 <0x64>;
		};

		chan2 {
			  chan-name = "rgb1_blue";
			  led-cur = /bits/ 8 <0x14>;
			  max-cur = /bits/ 8 <0x64>;
		};

		chan3 {
			  chan-name = "rgb2_red";
			  led-cur = /bits/ 8 <0x14>;
			  max-cur = /bits/ 8 <0x96>;
		};

		chan4 {
			  chan-name = "rgb2_green";
			  led-cur = /bits/ 8 <0x14>;
			  max-cur = /bits/ 8 <0x64>;
		};

		chan5 {
			  chan-name = "rgb2_blue";
			  led-cur = /bits/ 8 <0x14>;
			  max-cur = /bits/ 8 <0x64>;
		};
	};
};

/* AN multiplexer ctrl */
&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 =<&pinctrl_i2c3>;
	clock-frequency = <100000>;
	status = "okay";

	/* TCA6416A GPIO Expander */
	gpio@20 {
		compatible = "ti,tca6416";
		vcc-supply = <&reg_exp_3v3>;
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
	};
};

/* Distribution board spare */
&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	clock-frequency = <100000>;
	status = "okay";

	/* TCA6416A GPIO Expander */
	gpio@20 {
		compatible = "ti,tca6416ext";
		vcc-supply = <&reg_5v>;
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		interrupt-parent = <&gpio1>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
	};
};

/* SPI - LCD */
&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	num-cs = <1>;
	cs-gpios = <0>;
	dmas = <&sdma 3 7 1>, <&sdma 4 7 2>;
	dma-names = "rx", "tx";
	status = "okay";
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat>;
	lcd-supply = <&reg_lcd_3v3>;
	display = <&display>;
	status = "okay";

	display: display@di0 {
		bits-per-pixel = <16>;
		bus-width = <16>;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;

			timing0: ST7789OMNI {
				clock-frequency = <8000000>;
				hactive = <240>;
				vactive = <320>;
				hback-porch = <10>;
				hsync-len = <10>;
				hfront-porch = <38>;
				vback-porch = <4>;
				vsync-len = <4>;
				vfront-porch = <8>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <1>;
			};
		};
	};
};

/* CAN */
&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can_3v3>;
	status = "okay";
};

/* USB1 */
&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_otg1_id>;
	/* Only USB OTG ID pin is configured,
	   all other pins are preconfigured for USB */
	dr_mode = "otg";
	vbus-supply = <&reg_5v>;
	status = "okay";
};

/* USB2 */
&usbotg2 {
	dr_mode = "host";
	/* All pins are preconfigured for USB */
	disable-over-current;
	vbus-supply = <&reg_5v>;
	status = "okay";
};

/* Ethernet */
&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	status = "disabled";

	mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@1 {
			reg = <1>;
			interrupt-parent = <&gpio1>;               /* SOM 1468.1 or newer */
			interrupts = <2 IRQ_TYPE_LEVEL_LOW>;       /* SOM 1468.1 or newer */
			/* interrupt-parent = <&gpio5>; */         /* SOM 1468.0 only */
			/* interrupts = <5 IRQ_TYPE_LEVEL_LOW>; */ /* SOM 1468.0 only */
		};
	};
};

/* LCD background */
&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm5>;
	status = "okay";
};

/* Frontbase */
&pwm6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm6>;
	status = "okay";
};

/* ADC */
&adc1 {
	pinctrl-names = "default";
	/* Driver utilizes ADC pins from hoggrp automatically */
	vref-supply = <&reg_adc_3v3>;
	num-channels = <16>;
	status = "okay";
};

&iomuxc {
	pinctrl-name = "default";
	pinctrl-0 = <&pinctrl_hog>;

	/* Input, Output and ADC GPIO */
	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO00__GPIO1_IO00      0x1b0b1 /* Cadence */
			MX6UL_PAD_GPIO1_IO01__GPIO1_IO01      0x1b0b1 /* Horn */
			MX6UL_PAD_GPIO1_IO03__GPIO1_IO03      0x1b0b1 /* Break L */
			MX6UL_PAD_GPIO1_IO04__GPIO1_IO04      0x1b0b1 /* Break R */
			MX6UL_PAD_GPIO1_IO05__GPIO1_IO05      0xb0    /* AN_mux */
			MX6UL_PAD_GPIO1_IO09__GPIO1_IO09      0xb0    /* TMM */
			/* ! Different versions of the SOM caused different pin for CAN_SILENT */
			MX6UL_PAD_SNVS_TAMPER9__GPIO5_IO09    0x79    /* CAN_SILENT - SOM 1468.1 or newer */
			/* MX6UL_PAD_NAND_CE1_B__GPIO4_IO14   0x79 */ /* CAN_SILENT - SOM 1468.0 only */
			MX6UL_PAD_SD1_CLK__GPIO2_IO17         0x79    /* Brake Pull-Up/Pull-Down */
			MX6UL_PAD_SNVS_TAMPER3__GPIO5_IO03    0x79    /* Horn Pull-Up/Pull-Down */
			MX6UL_PAD_CSI_DATA03__GPIO4_IO24      0x79    /* BLE nSHUTD */
			MX6UL_PAD_CSI_DATA04__GPIO4_IO25      0x79    /* GNSS_PPS */
			MX6UL_PAD_CSI_DATA05__GPIO4_IO26      0x79    /* GNSS_FORCE_ON */
			MX6UL_PAD_CSI_DATA07__GPIO4_IO28      0x79    /* GNSS_RESET */
			/* ! Different versions of the SOM caused different pin for GSM_ON_N */
			MX6UL_PAD_SNVS_TAMPER5__GPIO5_IO05    0x79    /* GSM_ON_N - SOM 1468.1 or newer */
			/* MX6UL_PAD_GPIO1_IO02__GPIO1_IO02   0x79 */ /* GSM_ON_N - SOM 1468.0 only */
			MX6UL_PAD_SNVS_TAMPER0__GPIO5_IO00    0x79    /* GSM_RESET */
			MX6UL_PAD_UART1_CTS_B__GPIO1_IO18     0x79    /* MPIO1_DIR */
			MX6UL_PAD_UART1_RTS_B__GPIO1_IO19     0x79    /* MPIO2_DIR */
			MX6UL_PAD_SD1_CMD__GPIO2_IO16         0x1b0b1 /* MPIO1 */
			MX6UL_PAD_NAND_DQS__GPIO4_IO16        0x1b0b1 /* MPIO2 */
			MX6UL_PAD_UART2_RTS_B__GPIO1_IO23     0x79    /* FORCE_OTG1_ID */
			MX6UL_PAD_SD1_DATA1__GPIO2_IO19       0x79    /* I2C4_PU */
			MX6UL_PAD_CSI_PIXCLK__GPIO4_IO18      0x79    /* I2C4_ON */
			MX6UL_PAD_CSI_DATA02__GPIO4_IO23      0x79    /* TMMADC_RESET_N */
		 >;
	};
	/* On Switch (On/Menu) */
	pinctrl_gpio_keys: gpiokeysgrp {
		fsl,pins = <
			MX6UL_PAD_SNVS_TAMPER2__GPIO5_IO02	0x79
		>;
	};

	/* NAND */
	pinctrl_gpmi_nand: gpminandgrp {
		fsl,pins = <
			MX6UL_PAD_NAND_CLE__RAWNAND_CLE			0x0b0b1
			MX6UL_PAD_NAND_ALE__RAWNAND_ALE			0x0b0b1
			MX6UL_PAD_NAND_WP_B__RAWNAND_WP_B		0x0b0b1
			MX6UL_PAD_NAND_READY_B__RAWNAND_READY_B	0x0b000
			MX6UL_PAD_NAND_CE0_B__RAWNAND_CE0_B		0x0b0b1
			MX6UL_PAD_NAND_RE_B__RAWNAND_RE_B		0x0b0b1
			MX6UL_PAD_NAND_WE_B__RAWNAND_WE_B		0x0b0b1
			MX6UL_PAD_NAND_DATA00__RAWNAND_DATA00	0x0b0b1
			MX6UL_PAD_NAND_DATA01__RAWNAND_DATA01	0x0b0b1
			MX6UL_PAD_NAND_DATA02__RAWNAND_DATA02	0x0b0b1
			MX6UL_PAD_NAND_DATA03__RAWNAND_DATA03	0x0b0b1
			MX6UL_PAD_NAND_DATA04__RAWNAND_DATA04	0x0b0b1
			MX6UL_PAD_NAND_DATA05__RAWNAND_DATA05	0x0b0b1
			MX6UL_PAD_NAND_DATA06__RAWNAND_DATA06	0x0b0b1
			MX6UL_PAD_NAND_DATA07__RAWNAND_DATA07	0x0b0b1
		>;
	};

	/* Debug port */
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		>;
	};

	/* Heart beat led */
	pinctrl_gpioleds_som: gpioledssomgrp {
		fsl,pins = <MX6UL_PAD_SNVS_TAMPER4__GPIO5_IO04	0x0b0b0>;
	};

	/* Button ring */
	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1
			MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
		>;
	};

	/* BLE */
	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6UL_PAD_UART3_TX_DATA__UART3_DTE_RX	0x1b0b1
			MX6UL_PAD_UART3_RX_DATA__UART3_DTE_TX	0x1b0b1
			MX6UL_PAD_UART3_CTS_B__UART3_DTE_RTS	0x1b0b1
			MX6UL_PAD_UART3_RTS_B__UART3_DTE_CTS	0x1b0b1
		>;
	};

	/* GNSS */
	pinctrl_uart7: uart7grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA16__UART7_DCE_TX	0x1b0b1
			MX6UL_PAD_LCD_DATA17__UART7_DCE_RX	0x1b0b1
		>;
	};

	/* GSM */
	pinctrl_uart8_default: uart8grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_TX_DATA1__GPIO2_IO12	0x13000
			MX6UL_PAD_ENET2_TX_EN__GPIO2_IO13		0x13000
			MX6UL_PAD_ENET2_TX_CLK__GPIO2_IO14		0x13000
			MX6UL_PAD_ENET2_RX_ER__GPIO2_IO15		0x13000
		>;
	};

	pinctrl_uart8_uart: uart8uartgrp {
		fsl,pins = <
			MX6UL_PAD_ENET2_TX_DATA1__UART8_DTE_RX	0x1b0b1
			MX6UL_PAD_ENET2_TX_EN__UART8_DTE_TX		0x1b0b1
			MX6UL_PAD_ENET2_TX_CLK__UART8_DTE_RTS	0x1b0b1
			MX6UL_PAD_ENET2_RX_ER__UART8_DTE_CTS	0x1b0b1
		>;
	};

	/* TLV320 ADC */
	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX6UL_PAD_JTAG_TDI__SAI2_TX_BCLK	0x17088
			MX6UL_PAD_JTAG_TDO__SAI2_TX_SYNC	0x17088
			MX6UL_PAD_JTAG_TRST_B__SAI2_TX_DATA	0x11088
			MX6UL_PAD_JTAG_TCK__SAI2_RX_DATA	0x11088
			MX6UL_PAD_JTAG_TMS__SAI2_MCLK		0x17088
		>;
	};

	/* Touch and SOM EEPROM */
	pinctrl_ili2116: ili2116grp {
		/* Touch interrupt and reset */
		fsl,pins = <
			MX6UL_PAD_UART5_TX_DATA__GPIO1_IO30	0x10000
		>;
	};

	pinctrl_st1633: st1633grp {
		/* Touch interrupt and reset */
			fsl,pins = <
			MX6UL_PAD_UART5_TX_DATA__GPIO1_IO30	0x10000
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6UL_PAD_UART4_TX_DATA__I2C1_SCL	0x4001b8b0
			MX6UL_PAD_UART4_RX_DATA__I2C1_SDA	0x4001b8b0
		>;
	};

	/* Sensors */
	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6UL_PAD_CSI_HSYNC__I2C2_SCL	0x4001b8b0
			MX6UL_PAD_CSI_VSYNC__I2C2_SDA	0x4001b8b0
		>;
	};

	/* Distribution board spare */
	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_RX_DATA0__I2C3_SCL	0x4001b8b0
			MX6UL_PAD_ENET2_RX_DATA1__I2C3_SDA	0x4001b8b0
		>;
	};

	/* AN multiplexer ctrl */
	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX6UL_PAD_ENET2_RX_EN__I2C4_SCL		0x4001b8b0
			MX6UL_PAD_ENET2_TX_DATA0__I2C4_SDA	0x4001b8b0
		>;
	};

	/* SPI - LCD spare */
	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA20__ECSPI1_SCLK	0x1b0b1
			MX6UL_PAD_LCD_DATA22__ECSPI1_MOSI	0x1b0b1
			MX6UL_PAD_LCD_DATA23__ECSPI1_MISO	0x1b0b1
			//MX6UL_PAD_LCD_DATA21__GPIO3_IO26    0x000c5 // Due to problems during probe
			MX6UL_PAD_LCD_DATA21__ECSPI1_SS0	0x80000000
		>;
	};

	/* CAN */
	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX6UL_PAD_SD1_DATA2__FLEXCAN2_TX	0x0b0b0
			MX6UL_PAD_SD1_DATA3__FLEXCAN2_RX	0x0b0b0
		>;
	};

	/* USB1 */
	pinctrl_usb_otg1_id: usbotg1idgrp {
		fsl,pins = <
			MX6UL_PAD_SD1_DATA0__ANATOP_OTG1_ID	0x17059
		>;
	};

	/* Ethernet */
	pinctrl_enet1: enet1grp {
		fsl,pins = <
			MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x1b0b0
			MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x1b0b0
			MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN		0x1b0b0
			MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4001b031
			MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1b0b0
			MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN		0x1b0b0
			MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER		0x1b0b0
			MX6UL_PAD_GPIO1_IO06__ENET1_MDIO		0x1b0b0
			MX6UL_PAD_GPIO1_IO07__ENET1_MDC			0x1b0b0
			MX6UL_PAD_GPIO1_IO02__GPIO1_IO02		0x1b0b0    /* SOM 1468.1 or newer: nENET_INT */
			/* MX6UL_PAD_SNVS_TAMPER5__GPIO5_IO05	0x1b0b0 */ /* SOM 1468.0 only: nENET_INT */
		>;
	};

	/* LCD background */
	pinctrl_pwm5: pwm5grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA18__PWM5_OUT	0x1b0b0
		>;
	};

	/* Frontbase */
	pinctrl_pwm6: pwm6grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA19__PWM6_OUT	0x1b0b0
		>;
	};

	/* LCD */
	pinctrl_lcdif_dat: lcdifdatgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_CLK__LCDIF_CLK		0x48
			MX6UL_PAD_LCD_ENABLE__LCDIF_ENABLE	0x48
			/* MX6UL_PAD_LCD_RESET__LCDIF_RESET	0x48 */
			MX6UL_PAD_LCD_VSYNC__LCDIF_VSYNC	0x48
			MX6UL_PAD_LCD_HSYNC__LCDIF_HSYNC	0x48
			MX6UL_PAD_LCD_DATA00__LCDIF_DATA00	0x48
			MX6UL_PAD_LCD_DATA01__LCDIF_DATA01	0x48
			MX6UL_PAD_LCD_DATA02__LCDIF_DATA02	0x48
			MX6UL_PAD_LCD_DATA03__LCDIF_DATA03	0x48
			MX6UL_PAD_LCD_DATA04__LCDIF_DATA04	0x48
			MX6UL_PAD_LCD_DATA05__LCDIF_DATA05	0x48
			MX6UL_PAD_LCD_DATA06__LCDIF_DATA06	0x48
			MX6UL_PAD_LCD_DATA07__LCDIF_DATA07	0x48
			MX6UL_PAD_LCD_DATA08__LCDIF_DATA08	0x48
			MX6UL_PAD_LCD_DATA09__LCDIF_DATA09	0x48
			MX6UL_PAD_LCD_DATA10__LCDIF_DATA10	0x48
			MX6UL_PAD_LCD_DATA11__LCDIF_DATA11	0x48
			MX6UL_PAD_LCD_DATA12__LCDIF_DATA12	0x48
			MX6UL_PAD_LCD_DATA13__LCDIF_DATA13	0x48
			MX6UL_PAD_LCD_DATA14__LCDIF_DATA14	0x48
			MX6UL_PAD_LCD_DATA15__LCDIF_DATA15	0x48
		>;
	};
};
