
menuconfig OMNIDISPTOUCH
	tristate "myStromer SUI - Display und Touch driver"
	---help---
	  Framebuffer driver for the IMX6UL LCDIF periphery in combination
	  with the ST7789 based display

if OMNIDISPTOUCH

config ILI2116_TOUCH
	tristate "ILI2116 touch controller driver"
	default m
	help
	  ILI2116 Touch controller driver using I2C interfaces

config IMX6UL_LCDIF_ST7789
	tristate "LCDIF peripheral driver for a ST7789 display"
	default y
	help
	  LCDIF driver for IMX6UL for usage with a ST7789 based
	  display

config ST7789_SPI
	tristate "ST7789 - Supports spi init functionality required for RGB interface"
	default y
	depends on IMX6UL_LCDIF_ST7789
	help
	  SPI driver for the ST7789 3-wire interface (1. SCL, 2. CS, 3. MISO/MOSI)
	  providing functions to inititalize the display for RGB interface

endif # OMNIDISPTOUCH
