[Unit]
Description=adc

[Service]
Type=oneshot
ExecStart=/sbin/modprobe vf610_adc
ExecStop=/sbin/rmmod vf610_adc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target